{% extends "index.html" %}
{% block body %}
{% include "header.html" %}
<div class="about-page container">
    <div class="panel panel-default">
        <div class="panel-heading about-panel-heading">
            Who has developed this site?
        </div>
        <div class="panel-body about-panel-body">
            This site has been developed by Amit Deshmukh.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading about-panel-heading">
            Where is the Git repo for this site?
        </div>
        <div class="panel-body about-panel-body">
            <a target="_blank" href="https://github.com/ahdeshmukh/udemy-flask.git">https://github.com/ahdeshmukh/udemy-flask.git</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading about-panel-heading">
            What is the purpose of this site?
        </div>
        <div class="panel-body about-panel-body">
            The purpose of this site is to learn the basics of Flask Framework, like user logn, session management, creating secure passwords, SQLAlchemy, authentiction and authorization.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading about-panel-heading">
            Which technology has been used to develop this site?
        </div>
        <div class="panel-body about-panel-body">
            This site has been developed using Flask, PostgreSQL, JQuery, HTML, CSS, Heroku for hosting and Git for version control.
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading about-panel-heading">
            How to use this site?
        </div>
        <div class="panel-body about-panel-body">
            You need to login to see the features of this site. You can register on the site. ( I highly encourage you to not use real information ).
            If you want to use already existing users you can use the following credentials
            <ul>
                <li>john.doe@example.com / password</li>
                <li>jane.doe@example.com / password</li>
                <li>admin@example.com / password</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading about-panel-heading">
            How do you display the users pictures?
      </div>
        <div class="panel-body about-panel-body">
            The users pictures are displayed using the API available at https://randomuser.me/
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading about-panel-heading">
            Is the data on the website real?
        </div>
        <div class="panel-body about-panel-body">
            No, the data on the website is sample data.
        </div>
    </div>
</div>
{% endblock %}