<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if(logged_in_user and logged_in_user.id) %}
        <a class="navbar-brand" href="{{url_for('.get_user', user_id=logged_in_user.id)}}">Amit Flask Tutorial</a>
      {% else %}
        <a class="navbar-brand" href="{{url_for('.index')}}">Amit Flask Tutorial</a>
      {% endif %}
      {% if(logged_in_user and logged_in_user.id) %}
        <p class="hidden-xs navbar-text">Hello, {{logged_in_user.first_name}}</p>
      {% endif %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if(user and user.id) %}
        <p class="visible-xs navbar-text navbar-right">Hello, {{user.first_name}}</p>
      {% endif %}

      <ul class="nav navbar-nav navbar-right">
        {% if(logged_in_user and logged_in_user.id) %}
          <li {% if request.path.find("/user/") != -1 %} class="nav-li-active"{% endif %} ><a href="{{url_for('.get_user', user_id=logged_in_user.id)}}">Profile</a></li>
          {% if(logged_in_user and logged_in_user.id and is_admin) %}
          <li {% if request.path=="/users" %} class="nav-li-active"{% endif %} ><a href="{{url_for('.get_users')}}">Users</a></li>
          {% endif %}
        {% else %}
          <li {% if request.path=="/" or request.path=="/register" %} class="nav-li-active"{% endif %} ><a href="{{url_for('.index')}}">Home</a></li>
        {% endif %}
        <li {% if request.path=="/about" %} class="nav-li-active"{% endif %} ><a href="{{url_for('.about')}}">About</a></li>
        {% if(logged_in_user and logged_in_user.id) %}
        <li><a href="{{url_for('.logout')}}">Logout</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>