{% extends "index.html" %}
{% block body %}
{% include "header.html" %}
<div class="container">
    {% if not user %}
    <div class="row">
        <div class="col-xs-12">User not found</div>
    </div>
    {% else %}
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="{{user.image}}" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">{{user.first_name}} {{user.last_name}}</div>
                    {% if user.title %}
						<div class="profile-usertitle-job">{{user.title}}</div>
					{% endif %}
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-success btn-sm" title="Only for display">Follow</button>
					<button type="button" class="btn btn-danger btn-sm" title="Only for display">Message</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active" id="profile-user-overview">
							<a href=""><i class="glyphicon glyphicon-home"></i>Overview</a>
						</li>
						<li id="profile-user-account">
							<a href=""><i class="glyphicon glyphicon-user"></i>Account Settings</a>
						</li>
						<li id="profile-user-logout">
							<a href=""><i class="glyphicon glyphicon-log-out"></i>Logout</a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content" id="profile-user-description">
			   Description
            </div>
			<div class="profile-content" id="profile-user-my-account">
				<form action="{{url_for('update_account')}}" method="POST" name="update-account-form">
            		<h4 class="form-register-heading">Update Account</h4>
					{% if registration_errors %}
						<ul class="text-danger registration-errors">
							{% for error in registration_errors %}
								<li>{{error}}</li>
							{% endfor %}
						</ul>
					{% endif %}
					<div class="form-group">
						<label for="firstName">First Name:</label>
						<input type="text" class="form-control" id="firstName" name="firstName" placeholder="Firstname" required="" autofocus="" value="{{user.first_name}}" />
					</div>
					<div class="form-group">
						<label for="lastName">Last Name:</label>
						<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Lastname" required="" autofocus="" value="{{user.last_name}}" />
					</div>
					<div class="form-group">
						<label for="title">Title:</label>
						<input type="text" class="form-control" id="title" name="title" placeholder="Title" required="" value="{{user.title}}" />
					</div>
					<div class="form-group">
						<label for="zipcode">Zipcode:</label>
						<input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="Zip Code" required="" maxlength="5" minlength="5" value="{{user.zipcode}}" />
					</div>
					<div class="radio-inline">
						{% if user.gender == 'm' %}
					  		<label><input type="radio" name="gender" value="m" required checked>Male</label>
						{% else %}
							<label><input type="radio" name="gender" value="m" required>Male</label>
						{% endif %}
					</div>
					<div class="radio-inline">
						{% if user.gender == 'f' %}
					  		<label><input type="radio" name="gender" value="f" required checked>Female</label>
						{% else %}
							<label><input type="radio" name="gender" value="f" required>Female</label>
						{% endif %}
					</div>
					<input type="hidden" name="user_id" value="{{user.id}}">
					<div class="form-group">
						<button class="btn btn-md btn-primary" type="submit">Save</button>
					</div>
            	</form>
			</div>
		</div>
	</div>
    {% endif %}
</div>
{% endblock %}
