{% extends "index.html" %}
{% block body %}
<div class="container">
    <div class="wrapper">
        <form action="{{url_for('register_success')}}" method="POST" class="form-register" name="register-form">
            <h2 class="form-register-heading">Register</h2>
            <div class="form-group">
                <input type="text" class="form-control" name="firstName" placeholder="Firstname" required="" autofocus="" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="lastName" placeholder="Lastname" required="" autofocus="" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required=""/>
            </div>
            <div class="radio-inline">
              <label><input type="radio" name="gender" value="m" required>Male</label>
            </div>
            <div class="radio-inline">
              <label><input type="radio" name="gender" value="f" required>Female</label>
            </div>
            <div style="margin-top:10px" class="g-recaptcha form-group" data-sitekey="6LfKcCYUAAAAAMRriNB4PtJ7-OCNqe2uzVEJERkq"></div>

            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </div>
            <div><a href="{{ url_for('index') }}">Login</a></div>
        </form>
    </div>
</div>
{% endblock %}